@model Zer0neWebSite.Models.EmailFormModel

<div class="row sectionHeader">
    <div class="col-md-12 aboutTitle">
        تواصل مع 
        <img class="zer0ne" src="Contents/images/logo.png" />
    </div>
</div>
<div id="EmailForm" class="wrap-contact100" style="background-image: url(Contents/images/RiyadhMap.png);">
<div class="wrap-contact100Form">
    <div class="contact100-form-title" style="background-image: url(Contents/images/bg-01.jpg);">
        <span class="contact100-form-title-1">
            تواصل معنا
        </span>

        <span class="contact100-form-title-2">
            يمكنكم التواصل معنا عبر الهاتف او الواتس اب:<br />
            <a href='tel:+966539008488'><span class="MobileIcon"> </span>اتصل بنا +966539008488</a>
            <br /><a target='_blank' href='https://api.whatsapp.com/send?phone=966539008488'><span class="whatsappIcon"> </span>واتس اب 966539008488</a>
            <br /><a href='mailto:info@zer0ne.tech'><span class="EmailIcon"> </span>info@zer0ne.tech</a><br />
            <br />او عبر النموذج التالي<br />
            وسيتم الرد على طلباتكم واستفساراتكم خلال فترة وجيزة
        </span>
    </div>

    <div id="partial" class="contact100-form validate-form">
        <!--Form Tag-->

        <div id="response" class="alert alert-success" style="display:none">
            <!-- show response -->
        </div>

        <div class="wrap-input100 validate-input" data-validate="Name is required">
            <span class="label-input100">الاسم:</span>
            <input class="input100" type="text" id="name" name="name" placeholder="اكتب الاسم">
            <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
            <span class="label-input100">الايميل:</span>
            <input class="input100" type="text" id="email" name="email" placeholder="اكتب الايميل">
            <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Phone is required">
            <span class="label-input100">الجوال:</span>
            <input class="input100" type="text" id="mobile" name="mobil" placeholder="اكتب رقم الجوال">
            <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Message is required">
            <span class="label-input100">الرسالة:</span>
            <textarea class="input100" id="message" name="message" placeholder="اكتب طلبك او استفسارك هنا ..."></textarea>
            <span class="focus-input100"></span>
        </div>

        <div class="container-contact100-form-btn">
            <button id="sendBtn" class="contact100-form-btn">
                <span>
                    ارسل
                    <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
                </span>
            </button>
        </div>
        <script type="text/javascript">
            $(document).ready(function () {
                $(function () {
                    $('#sendBtn').click(function (e) {
                        var name = $('#name').val();
                        var mobile = $('#mobile').val();
                        var email = $('#email').val();
                        var message = $('#message').val();
                        var emailFormModel = { Name: name, Email: email, Mobile: mobile, Message: message, Response: null };

                        $.ajax({
                            url: '/Home/SendEmail',
                            type: 'POST',
                            data: emailFormModel,
                            dataType: 'json',
                            success: function (res) {
                                //$('#partial').html(res);

                                $("#response").attr('class', 'alert alert-success');
                                //$("#response").show();
                                $("#response").html(res.response);
                                $("#response").fadeIn(3000);
                                $("#response").fadeIn(10000);
                                //$("#response").fadeOut(3000);
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                var message = "حدث خطأ اثناء الارسال برجاء التواصل معنا عبر الوسائل الاخرى:";
                                alert(message);
                                message += "<br /><a href='tel:+966539008488'>اتصل بنا +966539008488</a>";
                                message += " <br /><a target='_blank' href='https://api.whatsapp.com/send?phone=966539008488'>واتس اب 966539008488</a>";
                                $("#response").html(message);
                                $("#response").fadeIn(3000);
                                $("#response").attr('class', 'alert alert-warning');
                            }
                        });
                    });
                });
            });
        </script>
    </div>
</div>
</div>