<html>

<head>
    <title>Zer0ne - مستشارك التقني الموثوق </title>
    <link rel="shortcut icon" href="Contents/images/favicon.ico" type="image/x-icon" />

    <link href="Contents/css/bootstrap.css" rel="stylesheet" />
    <link href="Contents/css/bootstrap-rtl.css" rel="stylesheet" />
    <link href="Contents/css/aos.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.1.0/css/swiper.css" rel="stylesheet" />
    <link href="Contents/css/site.css" rel="stylesheet" />
    <link href="Contents/css/contactForm.css" rel="stylesheet" />

    <script src="Contents/js/jquery.min.js"></script>
    <script src="Contents/js/jquery-ui.min.js"></script>
    <script src="Contents/js/aos.js"></script>
    <script src="Contents/js/swiper.min.js"></script>
    <script src="Contents/js/jquery.flip.js"></script>
    <script src="Contents/js/main.js"></script>
    <script src="Contents/js/contactform.js"></script>

    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
    <div class="menuOverlay hide">
    </div>
    <div class="topBar hide">
        <img class="logo" src="Contents/images/logo.png" />
        <p class="slogan">لتطوير البرمجيات و خدمات التقنية</p>
        <div class="menuButton">
            <img src="Contents/images/burger_menu.png" />
        </div>
    </div>
    <!-- <div class="header">
        <div class="banner">
            <img src="Contents/images/riyadh.jpg" />
        </div>
    </div> -->
    <div class="container" style="max-width:100%;padding:0px;">
        <div class="header">
            <div class="overlayColor"></div>
            <div class="banner">
                <img src="Contents/images/img.jpg" class="fixed-img" />
            </div>
            <div class="HeaderText" -data-aos="fade-left" data-aos-duration="2000">
                <h1 class="">مستشارك التقني الموثوق </h1>
                <p class="">
                    لتطوير حلول تقنية وتطبيقات ذكية معدة خصيصا لزيادة الانتاجية وتحسين خدمة العملاء و تطوير أداء الأعمال.
                </p>
                <a href="#EmailForm" class="btn btn-default headerButton">تواصل معنا</a>
            </div>
        </div>
    </div>
    <div class="BodyContent">
        @RenderSection("Scripts", required: false)
        @RenderBody()
    </div>

    
    <div class="row  footer">
        <div class="col-md-12">
            <img class="zer0ne img-center" src="Contents/images/logo.png" />
            <hr />
            <p class="text-center">حقوق النشر محفوطة © @DateTime.Now.Year</p>
        </div>
    </div>
</body>

</html>